.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin-top: 5rem;
    box-shadow: 0px -5px 3px rgba(50, 50, 50, 0.2);
}

.footer-copyright {
    font-size: 12px;
    margin-top: 1em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .footer-logo {
        width: 3em;
        height: 3em;
    }

    .footer-copyright {
        font-size: 10px;
    }
}

/* For tablets and smaller laptops with screens between 600px and 1024px */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .footer-logo {
        width: 4em;
        height: 4em;
    }

    .footer-copyright {
        font-size: 11px;
    }
}

