.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

/* .footer-logo {
    height: 5em;
    width: 5em;
    margin-bottom: 0.5em;
} */

/* .footer .footer-logo:hover {
    cursor: pointer;
} */

.footer-copyright {
    font-size: 12px;
    margin-top: 1em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

/* Mobile Phone */
@media only screen and (max-width: 480px) {
    .footer-logo {
        width: 3em;
        height: 3em;
    }

    .footer-copyright {
        font-size: 10px;
    }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .footer-logo {
        width: 4em;
        height: 4em;
    }

    .footer-copyright {
        font-size: 11px;
    }
}

